accessControl:
    autologinAs: homeassistant
    autologinLocal: true
    localNetworks:
        - 172.30.32.2
folder:
    # Non-user-accessible folders
    data: /data/octoprint/data
    generated: /data/octoprint/generated
    logs: /data/octoprint/logs
    plugins: /data/octoprint/plugins
    virtualSd: /data/octoprint/virtualSd
    timelapse_tmp: /data/octoprint/timelapse/tmp
    # User-accessible folders
    printerProfiles: /config/octoprint/printerProfiles
    slicingProfiles: /config/octoprint/slicingProfiles
    scripts: /config/octoprint/scripts
    timelapse: /config/octoprint/timelapse
    translations: /config/octoprint/translations
    uploads: /config/octoprint/uploads
    watched: /config/octoprint/watched
server:
    commands:
        serverRestartCommand: s6-svc -r /var/run/s6/services/octoprint
        systemRestartCommand: /restart.sh
        systemShutdownCommand: /shutdown.sh
webcam:
    ffmpeg: /usr/bin/ffmpeg
    snapshot: http://local-mjpg-streamer:80/?action=snapshot
    stream: /webcam/?action=stream
