os: linux
dist: xenial
language: ruby
services:
  - docker
branches:
  only:
    - build
before_install:
  - sudo apt-get install jq
  - sudo chmod +x ./build.sh
env:
  - ADDON="octoprint_dev"
  - ADDON="octoprint_slim"
script:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - ./build.sh $ADDON
