os: linux
dist: focal
language: ruby
services:
  - docker
branches:
  only:
    - master
before_install:
  - sudo apt-get install jq
  - sudo chmod +x ./build.sh
env:
  - ADDON="octoprint"
  - ADDON="octoprint_dev"
  - ADDON="octoprint_next"
  - ADDON="iperf3"
  - ADDON="mjpg-streamer"
  - ADDON="tsd"
script:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - ./build.sh $ADDON
