(log) {
    log {
        level INFO
    }
}
:8099 {
    @ingress {
        remote_ip 172.30.32.2
    }
    # import log
    handle_path /webcam/* {
        rewrite * ?{query}
        # uri strip_prefix /webcam
        reverse_proxy localhost:8000 {
            header_up X-Scheme {scheme}
            flush_interval -1
        }
    }
    handle {
        #insert_rescue
        reverse_proxy @ingress localhost:80 {
            header_up -Origin
            header_up Origin 172.30.32.2
            header_up X-Scheme {scheme}
            header_up X-Script-Name %%base_path%%
            header_up X-Forwarded-For 172.30.32.2
        }
    }
}

:5000 {
    reverse_proxy http://127.0.0.1:80 {
        header_up X-Scheme {scheme}
    }
    handle_path /webcam* {
        rewrite * /?{query}
        reverse_proxy http://localhost:8000%% {
            header_up X-Scheme {scheme}
        }
    }
}
