:8099 {
	log {
		output stdout
		format console
	}
	@ingress {
		remote_ip 172.30.32.2
	}
	{{ if eq .ingress_ui "octoprint" }}
	handle {
		{{ if .recovery }}
		rewrite / /recovery
		{{ end }}
		reverse_proxy @ingress localhost:80 {
			header_up X-Script-Name {{ env "ingress_entry" }}
			header_up -Origin
			header_up Origin 172.30.32.2
			header_up X-Forwarded-For 172.30.32.2
		}
	}
	{{ else if eq .ingress_ui "mainsail" }}
	handle /printer* {
		reverse_proxy http://127.0.0.1:7125
	}
	handle /api* {
		reverse_proxy http://127.0.0.1:7125
	}
	handle /access* {
		reverse_proxy http://127.0.0.1:7125
	}
	handle /websocket* {
		reverse_proxy http://127.0.0.1:7125
	}
	handle /machine* {
		reverse_proxy http://127.0.0.1:7125
	}
	handle /server* {
		reverse_proxy http://127.0.0.1:7125
	}
	handle /* {
		root * /data/mainsail
		file_server
	}
	{{ end }}
}

# OctoPrint WebUI
:5000 {
	reverse_proxy http://127.0.0.1:80 {
		header_up X-Scheme {scheme}
	}
}

# Fluidd
:5001 {
	handle_path /websocket {
		reverse_proxy http://127.0.0.1:7125
	}
	handle {
		root * /data/fluidd
		file_server
	}
}

# Mainsail
:5002 {
	handle_path /websocket {
		reverse_proxy http://127.0.0.1:7125
	}
	handle {
		root * /data/mainsail
		file_server
	}
}

# Moonraker - expose as-is.

# Camera
:8000 {
	reverse_proxy http://127.0.0.1:8080 {
		header_up X-Scheme {scheme}
	}
}
